@model IEnumerable<Microsoft.Graph.Event>

@{
    ViewBag.Current = "Calendar";
}

<h1>Calendar</h1>
<a href="https://outlook.office.com/calendar/view/workweek"><input type="button" value="Click here to view in Outlook" /></a>
<table class="table">
    <thead>
        <tr class="header">
            <th scope="col">Course Name</th>
            <th scope="col">Course Type</th>
            <th scope="col">Days</th>
            <th scope="col">Times</th>
            <th scope="col">Start Date</th>
            <th scope="col">End Date</th>
            <th scope="col">Location</th>
            <th scope="col">Professor</th>
            <th scope="col">Notes</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Subject</td>
                <td>@item.Categories.ToList().First()</td>
                @{
                    string days = "";
                    item.Recurrence.Pattern.DaysOfWeek.ToList().ForEach(x => days = days + x.ToString().Remove(3) + ", ");
                    days = days.Remove(days.Length - 2);
                    if (days == "Sun")
                    {
                        days = "-";
                    }

                    string notes = @item.Body.Content.ToString();
                    int start = notes.IndexOf("PlainText") + 11;
                    int len = notes.IndexOf("</div>", start) - start;
                    notes = notes.Substring(start, len);

                    string st = Convert.ToDateTime(item.Start.DateTime).ToString("h:mm tt") == "12:00 AM" ? "" : Convert.ToDateTime(item.Start.DateTime).ToString("h:mm tt");
                    string et = Convert.ToDateTime(item.End.DateTime).ToString("h:mm tt") == "12:00 AM" ? "" : Convert.ToDateTime(item.End.DateTime).ToString("h:mm tt");
                    string times = st + " - " + et;
                }
                <td>@days</td>
                <td>@times</td>
                <td>@item.Recurrence.Range.StartDate.ToString()</td>
                <td>@item.Recurrence.Range.EndDate.ToString()</td>
                <td>@item.Location.DisplayName</td>
                <td>@item.Attendees.ToList().First().EmailAddress.Name</td>

                <td>@System.Web.HttpUtility.HtmlDecode(notes)</td>
                <td class="hidden">@item.Id</td>
            </tr>
        }
    </tbody>
</table>
<input type="button" value="Delete" onclick="deleteEvents()" />
<input type="button" value="Delete All" onclick="deleteAllEvents()" />

<iframe src="https://outlook.office.com/calendar/view/workweek"></iframe>


@using (Html.BeginForm("DeleteEvents", "Calendar", FormMethod.Post, new { id = "deleteForm" }))
{
    @Html.Hidden("eventIds");
}
<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script type="text/javascript">

    $('td').click(function () {
        $(this).parent().toggleClass('selected');
    });

    function deleteEvents() {
        $("[name='eventIds']").val('');
        $('.selected > .hidden').each(function () {
            $("[name='eventIds']").val($("[name='eventIds']").val() + ',' + $(this).text());
        });

        $("#deleteForm").submit();
    }

    function deleteAllEvents() {
        $("[name='eventIds']").val('');
        $('tr > .hidden').each(function () {
            $("[name='eventIds']").val($("[name='eventIds']").val() + ',' + $(this).text());
        });

        $("#deleteForm").submit();
    }
</script>
